<div [appRedBold]="pokemon.damage" class="card text-center">
    <img src="../../../assets/images/{{pokemon.id}}.png" class="card-img-top" alt="{{pokemon.name}}">
    <div class="card-body">
        <h5 class="card-title">{{pokemon.name}}</h5>
        <p class="card-text">id:{{pokemon.id}}</p>
        <p class="card-text">damage:{{pokemon.damage}}</p>
        <button *ngIf="!pokemon.isCaught" class="btn btn-primary" (click)="switchButton(pokemon.id)">Catch</button>
        <button *ngIf="pokemon.isCaught" class="btn btn-primary" (click)="switchButton(pokemon.id)">Set free</button>
    </div>
</div>