<a [routerLink]="['/pokemons', pokemon.id]" [appRedBold]="pokemon.damage" class="text">
    <p>Name: {{pokemon.name}}, id: {{pokemon.id}}, damage: {{pokemon.damage}}</p>
    <div class="buttons">
        <button *ngIf="!pokemon.isCaught" class="btn btn-primary"
            (click)="catchPokemon(pokemon, $event)">Catch</button>
        <button *ngIf="pokemon.isCaught" class="btn btn-primary" (click)="catchPokemon(pokemon, $event)">Set
            free</button>
        <button class="btn btn-primary" (click)="goToEditForm(pokemon.id, $event)">Edit</button>
    </div>
</a>