<div class="switch-view-button">
    <button type="button" class="btn btn-primary" (click)="switchView()">Switch the view</button>
</div>

<div *ngIf="!simpleView" class="pokemons-list">
    <ng-container *ngFor="let pokemon of pokemons">
        <app-pokemon-card [pokemon]="pokemon" (Changed)="onChanged($event)"></app-pokemon-card>
    </ng-container>
</div>

<ng-container *ngIf="simpleView">
    <ng-container *ngFor="let pokemon of pokemons">
        <app-pokemon-text [pokemon]="pokemon" (Changed)="onChanged($event)"></app-pokemon-text>
    </ng-container>
</ng-container>